{% extends "base.html" %}

{% block title %}Chat app - log in{% endblock %}

{% block content %}
<section>
    <form action="{% url 'custom_auth:login' %}" method="post">
        {% csrf_token %} 
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div class="form-group">
            <label class="text-primary text-dark font-weight-bold">Enter Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
        </div>

        <br>
            <div class="form-group">
                <label class="text-primary text-dark font-weight-bold">Enter Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password">
            </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
    </form>
</section>
{% endblock %}