{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Chat app - settings{% endblock %}

{% block content %}
<div class="container p-5 border mt-3">
<form action="{% url 'custom_auth:settings' %}" method="POST" novalidate>
	{% csrf_token %}
	<h4 class="text-center">User settings</h4>
	{% bootstrap_form sett_form %}
	{% buttons %}
	  <button type="submit" class="btn btn-primary">
		Update
	  </button>
	{% endbuttons %}
</form>
<form action="{% url 'custom_auth:change_password' %}" method="POST" novalidate>
	{% csrf_token %}
	<h4 class="text-center">Change Password</h4>
	{% for field in pass_form %}
		{% bootstrap_field field show_label=False show_help=False %}
	{% endfor %}
	{% buttons %}
	  <button type="submit" class="btn btn-primary">
		Change Password
	  </button>
	{% endbuttons %}
</form>
<a class="btn btn-outline-primary me-2" href="{% url 'chats:chat' %}">Go to chats</a>
</div>
{% endblock %}