{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Chat app - settings{% endblock %}

{% block content %}
<form action="{% url 'custom_auth:settings' %}" method="POST" novalidate>
	{% csrf_token %}
	<h2>User Settings</h2>
	{{sett_form.as_p}}
	<input type="submit" value="Update" />
</form>
<form action="{% url 'custom_auth:change_password' %}" method="POST" novalidate>
	{% csrf_token %}
	<h2>Change Password</h2>
	{% for field in pass_form %}
	<p>
		{% if field.errors %}
		<ul class="errorlist">
			{% for error in field.errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	 	{{ field.label_tag }} {{ field }}
	</p>
	{% endfor %}
	<input type="submit" value="Change Password" />
</form>
<a href="{% url 'chats:chat' %}">Go back</a>
{% endblock %}