{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Chat app - search{% endblock %}

{% block content %}
<div class="container p-5 border mt-3">
<form action="{% url 'chats:chat' %}" method="POST" novalidate>
    <h4 class="text-center">What chat room would you like to enter?</h4>
    {% csrf_token %}
    {% for field in form %}
		{% bootstrap_field field show_label=False placeholder="room name"%}
	{% endfor %}
    {% buttons %}
	  <button type="submit" class="btn btn-primary">
		JOIN!
	  </button>
	{% endbuttons %}
</form>
</div>
{% endblock %}
