{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Chat app - room {{ room_name }}{% endblock %}

{% block content %}
<div class="container p-5 border mt-3">
    <h4 class="text-center">ROOM: {{ room_name }} TYPE: {{ room_type }}</h4>
    <div class="input-group">
        <textarea id="chat-log" class="form-control" aria-label="Messages" rows="15" readonly></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">:)</span>
        </div>
        <input id="chat-message-input" type="text" class="form-control" placeholder="Message" aria-label="Your message" aria-describedby="basic-addon1">
      </div>
    {% buttons %}
	  <button class="btn btn-primary mt-2"id="chat-message-submit" type="submit" class="btn btn-primary">
		SEND
	  </button>
	{% endbuttons %}
    {{ room_name|json_script:"room-name" }}
    <a class="btn btn-outline-primary me-2" href="{% url 'chats:chat' %}">Go to chats</a>
</div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const logTime = data.log_time; 
            const user = data.user;
            const message = data.message;
            const info = data.info;

            if(info) {
                document.querySelector('#chat-log').value += (logTime + ":    " + data.info + '\n');
            }
            else {
                const formattedMessage = user + ", " + logTime + ":    " + message + '\n';
                document.querySelector('#chat-log').value += formattedMessage;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
