<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chat App{% endblock %}</title>
</head>

<body>
    {% include "messages.html" %}
    {% include "custom_auth/user_panel.html" %}
    <header>
        <h1>Live chat app with Django</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 happypio</p>
    </footer>
</body>
</html>